body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(imgFundo.png);
}

#tituloPrincipal {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 20px;
}

#containerQuiz {
    margin-top: 100px;
    background: #ffffffe9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 650px;
    border-top: 5px solid #004a7c;
    text-align: center;
}

h1 {
    color: #004a7c;
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pergunta-box {
    background-color: #ffffffde;
    border-left: 5px solid #004a7c;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 500;
}

.opcao-container {
    display: block;
    padding: 15px;
    border: 1px solid #dcdde1;
    border-radius: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left;
    transition: all 0.2s ease;
}

.opcao-container:hover {
    background-color: #e1f0fa;
    border-color: #004a7c;
}

.opcao-container input {
    margin-right: 15px;
}

button {
    background-color: #004a7c;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background-color: #003355;
}

.msg-box {
    padding: 30px;
    border-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.vitoria {
    background: #e6f4eada;
    color: #1e7e34;
    border: 2px solid #1e7e34;
}

.derrota {
    background: #fdf2f297;
    color: #b91c1c;
    border: 2px solid #b91c1c;
}

.titulo-final {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#contErros {
    color: #9f0b0b;
    font-weight: bold;
}

.hidden {
    display: none;
}